.mainContainer {
    padding-bottom: 3rem;
}

.yearContainer {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 950px) {
    .yearContainer {
        flex-direction: column;
    }

    .mainContainer {
        padding: 1rem;
        padding-right: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }
}