.project {
    width: 40%;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 15px;
    min-height: 22rem;
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem 1.5rem;
}

p, li { 
 font-size: 0.93rem;
}

h4 {
    margin: 0;
    color: white;
}

.projectLink {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    color: rgb(157, 206, 255);
    text-decoration: none; /* Remove underline from the link */
    border: none;
    text-align: right;
    background: none;
}

.projectLink:hover {
    text-decoration: underline; /* Underline the link on hover */
}

.property {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(228, 226, 226);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.propertyName {
    font-size: 0.8rem;
    color: rgb(190, 190, 190);
}

.techStack {
    display: flex;
    flex-direction: row;
    justify-content: bottom;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: 0.5rem;
}

.techStackTitle {
    font-size: 0.8rem;
    margin-top: 1rem;
}

.tech {
    width: 6rem;
    margin: 0.4rem;
    height: 1.4rem;
    max-width: 10rem;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(252, 252, 252);
    overflow: hidden;
}

.tech span {
    font-size: 0.8rem;
}

h4 {
    width: 100%;
    margin-bottom: 0.2rem;
}

@media only screen and (max-width: 1350px) {
    .project {
        width: 35%;
    }
}
@media only screen and (max-width: 980px) {
    .project {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .project {
        width: 80%;
        margin-left: 1rem;
        min-height: 30rem;
    }

    .projectDescription {
        font-size: 0.8;
    }
    .title {
        font-size: 1rem;
    }

    .tech {
        width: 6.3rem;
        margin: 0.3rem;
        height: 1.5rem;
        max-width: 7rem;
    }
}