
.mantine-Carousel-root {
    background: rgba(0, 0, 0, 0.65);
    padding: 5rem;
    margin: 2rem;
    border-radius: 1.5rem;
    max-height: 50rem;
}

.mantine-Carousel-slide {
    background: rgba(252, 252, 252, 0.15);
    max-width: 45%;
    max-height: 100%;
    min-height: 100%;
    margin: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    max-height: 40rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: right;
    width: 100%;
    padding: 0;
}

.title {
    position: fixed;
    font-weight: bold;
    font-size: 2rem;
    top: 5%;
    z-index: 10;
}

.mantine-Carousel-control {
    opacity: 0.3;
}

.mantine-Carousel-control:hover {
    opacity: 1;
}

@media only screen and (max-height: 1000px) {
    .mantine-Carousel-root {
        height: 40rem;
    }

    .mantine-Carousel-slide {
        max-height: 35rem;
    }
}

@media only screen and (max-height: 900px) {
    .mantine-Carousel-root {
        height: 35rem;
    }

    .mantine-Carousel-slide {
        max-height: 33rem;
    }
}

@media only screen and (max-width: 1200px) {
    .mantine-Carousel-root {
        padding: 3rem;
    }

    .title {
        font-size: 1.3rem;
        top: 4%;
    }
}

@media only screen and (max-width: 930px) {
    .mantine-Carousel-root {
        padding: 1rem 2em 0;
        margin: 0 1rem 0 1rem;
        height: 45rem;
    }

    .mantine-Carousel-slide {
        padding: 1rem;
        max-height: 35rem;
    }

    .title {
        font-size: 1.3rem;
        top: -0.5rem;
        left: 7%
    }

    .mantine-Carousel-slide:first-of-type {
        margin-left: 2.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .mantine-Carousel-root {
        padding-left: 1rem;
    }

    .mantine-Carousel-slide {
        max-width: 90%;
        padding: 1rem;
    }

    .mantine-Carousel-slide:first-of-type {
        margin-left: 3.6rem;
    }
}
