.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    padding: 1rem;
    margin: 1rem 0rem 3rem 2rem;
    width: 85%;
}

.name {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 25%;
    padding-bottom: 1rem;
}

.skill {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 93%;
}

.skillName {
    color: white;
    align-self: left;
    margin: 0.2rem;
    font-size: 1.1rem;
    width: 40%;
}

.skillBar {
    height: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
}

.skillBarFill {
    height: 1.5rem;
    width: 0;
    transition: all 500ms ease-out;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
    .name {
        color: white;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }

    .skillName {
        color: white;
        font-size: 0.9rem;
        align-self: left;
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .skillContainer {
        flex-direction: column;
        justify-content: top;
        padding: 1rem;
        margin: 0;
    }

    .skillBar {
        margin-top: 0.5rem;
        height: 1.1rem;
    }

    .skillBarFill {
        height: 1.1rem;
    }
}

@media only screen and (max-width: 700px) {
    .skill {
        margin: 0.2rem;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.45rem;
        width: 85%;
    }
    .name {
        width: 100%;
        text-align: center;
        margin-left: 0;
        font-size: 1rem;
    }

    .skillName {
        color: white;
        font-size: 1rem;
        align-self: left;
        padding-left: 0.5rem;
        margin-top: .3rem;
        margin-bottom: .2rem;
    }

    .skillContainer {
        flex-direction: column;
        justify-content: top;
        padding: 1.2rem;
    }

    .skillBar {
        margin-top: 0.3rem;
        height: 1.3rem;
    }

    .skillBarFill {
        height: 1.3rem;
    }
}

@media only screen and (max-height: 500px) {
    .skillBarFill {
        height: 0.8rem;
    }
    .skillBar {
        height: 0.8rem;
    }
    .skillName {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1440px) {
    .skillContainer {
        margin-left: 0;
    }
}