.scrollText {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1rem #000;
}

.sticker {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 2rem;
    height: 10%;
    border: 2px solid #fff;
    color: white;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #7e797c57;
}