.skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    width: 85%;
    height: 80%;
}

.name {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.skill {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
}

.skillName {
    color: white;
    font-size: 1.5rem;
    align-self: left;
    margin: 0.2rem;
    width: 15rem
}

.skillBar {
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(199, 199, 199, 0.7);
}

.skillBarFill {
    height: 2rem;
    width: 0;
    transition: all 500ms ease-out;
    background: #04040465;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}

@media only screen and (max-width: 930px) {
    .skill {
        margin: 0.2rem;
        flex-direction: column;
        justify-content: center;
        width: 85%;
    }
    .name {
        color: white;
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }

    .skillName {
        color: white;
        font-size: 1.1rem;
        align-self: left;
        padding-left: 0.5rem;
    }

    .skillContainer {
        flex-direction: column;
        justify-content: top;
        padding: 1rem;
        margin: 0;
    }
}