.mainContainer {
    text-align: center;
    background: rgb(39, 39, 39);
    border: none;
    padding-top: 1rem;
}

.downloadCV {
    margin-top: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.downloadCV a {
    text-align: center;
}