.main-header {
    width: 100%;
    background: rgba(9, 9, 9, 0.395);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.2rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
}

.main-nav {
    margin-right: 2rem;
}

.main-nav li {
    position: relative;
    margin: 0.5rem;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}

.main-nav button {
    color: white;
    background: inherit;
    border: none;
    font-size: 1.1em;
    font-weight: bold;

}
.main-nav button:hover {
    color: #777173;
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .main-nav {
        display: none
    }
}