.main-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(9, 9, 9, 0.141);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.2rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
}

.main-nav {
    margin-right: 2rem;
}

.main-nav li {
    position: relative;
    margin: 0.5rem;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}

.main-nav button, a {
    color: white;
    background: inherit;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.main-nav button:hover, a:hover {
    color: #777173;
    box-shadow: none;
    border: none;
}

@media only screen and (max-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-nav li {
        display: block;
        padding-left: 0;
    }
    
    .main-nav button {
        text-align: left;
        width: 20rem;
        color: white;
        background: inherit;
        border: none;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .main-nav a {
        margin-left: 0.4rem;
    }
}
