.mainContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 11rem;
    border: 2px solid #fffbfb42;
    border-radius: 50%;
}

.location {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
}