.main {
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    width: 100%;
    min-height: 100vh;
}

.mainContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.photo {
    width: 11rem;
    border: 2px solid #fffbfb42;
    border-radius: 50%;
}



@media only screen and (max-width: 1320px) {
    .photo {
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1220px) {
    .photo {
        margin-right: 25%;
    }
}

@media only screen and (max-width: 1120px) {
    .photo {
        margin-right: 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .photo {
        margin-right: 0%;
    }
}
