.code {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}

.gif {
    border-radius: 1rem;
    opacity: 0.95;
    -webkit-border-radius: 20px;
    border-radius: 10px;
    box-shadow:
        -0.2px -0.3px 4.8px -9px rgba(0, 0, 0, 0.11),
        9.4px 10.5px 11.6px -9px rgba(0, 0, 0, 0.11),
        23.6px 26.4px 21.9px -9px rgba(0, 0, 0, 0.098),
        40.4px 45.2px 39.1px -9px rgba(0, 0, 0, 0.078),
        58.6px 65.5px 73.1px -9px rgba(0, 0, 0, 0.053),
        77px 86px 175px -9px rgba(0, 0, 0, 0.025);
    margin-right: 4%;
}

@media only screen and (max-width: 1200px) {
    .gif {
        margin-right: 2%;
    }
}