.downloadCvLink {
    display: flex;
    flex-direction: row;
    min-width: 8.5rem;
    padding: 0.35rem;
    padding-left: 1rem;
    border: 1px solid white;
    border-radius: 30rem;
}

.downloadCvLink:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 30rem;
}
.downloadCvLink svg {
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
