.mainContainer {
    display: flex;
    justify-content: center;
    align-items: right;
    width: 100%;
    padding: 0;
}

h3 {
    color: white;
    position: fixed;
    left: 10%;
    top: 2%;
    font-size: 1.5rem;
}

.mainContainer form {
    border-radius: 1.5rem;
    background: rgb(4, 4, 4, 0.6);
    padding: 5rem;
    width: 80%;
}

.mainContainer input {
    width: 50%;
}

.mainContainer textarea {
    width: 50%;
    height: 10rem;
}

.controls {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .mainContainer {
        padding-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 93%
    }

    .mainContainer input {
        width: 100%;
    }

    .mainContainer textarea {
        width: 100%;
    }

    .controls {
        width: 100%;
    }

    .mainContainer form {
        padding: 3rem;
        width: 90%;
    }

    h3 {
        left: 10%;
        top: 4%;
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 750px) {
    h3 {
        left: 9%;
    }
}
@media only screen and (max-width: 650px) {
    h3 {
        left: 35%;
    }
}