.mainContainer input {
    width: 50%;
}

.mainContainer textarea {
    width: 50%;
    height: 10rem;
}

.controls {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.submit {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    width: 20%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 3px;
}

.submit:hover {
    background-color: white;
    color: black;
}
@media only screen and (max-width: 800px) {
    .mainContainer input {
        width: 90%;
    }

    .mainContainer textarea {
        width: 90%;
    }

    .controls {
        width: 100%;
    }

    .mainContainer form {
        padding: 3rem;
        width: 90%;
    }
    .submit {
        width: 40%;
        margin-right: 10%;
    }
}