
.content {
    min-width: 100%;
}

.mainContainer input {
    width: 50%;
}

.mainContainer textarea {
    width: 50%;
    height: 10rem;
}

.controls {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.emailLink {
    font-size: 1rem;
    color: rgb(87, 85, 85);
    text-decoration: none; /* Remove underline from the link */
    border: none;
    text-align: right;
    background: none;
}

.emailLink:hover {
   text-decoration: underline; /* Underline the link on hover */
}

.submit {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    width: 20%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 3px;
}

.submit:hover {
    background-color: white;
    color: black;
}

@media only screen and (min-width: 1440px) {
    .content {
        min-width: 80%;
    }

    .mainContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 800px) {
    .mainContainer input {
        width: 100%;
    }

    .mainContainer textarea {
        width: 100%;
    }

    .controls {
        width: 100%;
    }

    .mainContainer form {
        padding: 1rem;
        width: 90%;
    }
    .submit {
        width: 40%;
    }
}