.expandButton {
    border: none;
    background: none;
    color: rgb(157, 206, 255);
    text-align: right;
    padding-left: 0;
    margin: 0.3rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 950px) {
    .expandButton {
        margin: 0;
    }
}
.mainContainer {
    transition: max-height 0.3s ease-in-out;
    scrollbar-width: auto;
    -webkit-box-shadow: inset 300px 3px 5px 5px rgba(255, 255, 255, );
    box-shadow: inset 300px 3px 5px 5px rgba(255, 255, 255, );
}